/**
 * select.css
 * 
 * F1 Custom Select CSS - 17 Nov 2023
 * @author  C. Moller <xavier.tnc@gmail.com>
 * @version 1.0 - 17 Nov 2023
 */
:root {
  --select-color-dark: #000;  
  --select-color-light: white;
  --select-color-muted: #777;
  --select-color-primary: dodgerblue;
  --select-color-secondary: rgba(49,132,253,.5);
  --select-background: white;
  --select-border-radius: 4px;
  --select-font-size: 13px;
  --select-caret-size: 0.34em;
  --select-padding-s: 0.2em;
  --select-padding-l: 0.5em;
  --select-padding: 0.34em;
  --select-height: 1.67em;
  --select-inset: -4px;
}
.select--large {
  --select-padding: 0.5em;
  --select-padding-s: 0.3em;
  --select-padding-l: 0.67em;
  --select-font-size: 1em;
  --select-height: 2.5em;
  --select-inset: -6px;
}
.select {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  color: var(--select-color-dark);
  min-height: var(--select-height);
  font-size: var(--select-font-size);
  background: var(--select-background);
  border-radius: calc(var(--select-border-radius) * 1.3);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.select__value {
  position: relative;
  border: 1px solid var(--select-color-muted);
  border-radius: var(--select-border-radius);
  padding: var(--select-padding-s) var(--select-padding);
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
}
.select__value::after {
  content: "";
  position: absolute;
  transition: all 0.15s ease-out;
  border-left: var(--select-caret-size) solid transparent;
  border-right: var(--select-caret-size) solid transparent;
  border-top: var(--select-caret-size) solid black;
  right: var(--select-caret-size);
  top: 50%;
  transform: translateY(-50%);
  height: 0; 
  width: 0; 
}
.select__value[aria-disabled="true"] {
  background-color: #f8f9fa;
  cursor: not-allowed;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
}
.select__value:focus {
  outline: 1px auto;
}
.select__clear {
  position: absolute;
  text-align: center;
  font-size: 0.8em;
  padding: 0 0.5em 1px;
  top: calc(50% - 0.67em);
  cursor: pointer;
  opacity: 0.5;
  right: 1.5em;
  z-index: 1;
}
.select__clear:hover {
  opacity: 1;
}    
.select__value[aria-disabled="true"] .select__clear {
  display: none;
}
.select div[role="combobox"] {
  display: none;
  position: absolute;
  background-color: var(--select-color-light);
  border: 1px solid var(--select-color-primary);
  border-top: none;
  bottom: auto;
  width: 100%;
  top: 100%;
  left: 0;
}
.select--large .select__value {
  padding: var(--select-padding-l) var(--select-padding);
}
.select--large .select__clear {
  padding: 1px 0.5em 2px;
  top: calc(50% - 0.74em);
}
.select--open {
  z-index: 2;
}
.select--open .select__value {
  border-radius: var(--select-border-radius) var(--select-border-radius) 0 0;
  border: 1px solid var(--select-color-primary);
  background-color: var(--select-color-light);
  z-index: 1;
}
.select--open .select__value::after {
  transform: rotate(-180deg) translateY(3px);
}    
.select--open div[role="combobox"] {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
  display: block;
}
.select--dropup.select--open .select__value {
  border-radius: 0 0 var(--select-border-radius) var(--select-border-radius);
  border: 1px solid var(--select-color-primary);
}
.select--dropup div[role="combobox"] {
  bottom: 100%;
  border-top: 1px solid var(--select-color-primary);
  border-bottom: none;
  top: auto;
}
.select--noresults .select__utilbar {
  display: block;
}
.select input[role="searchbox"] {
  display: block;
  padding: var(--select-padding-l);
  background: var(--select-background);
  outline: 1px solid var(--select-color-muted);
  outline-offset: var(--select-inset);
  font-family: inherit;
  font-size: 0.96em;
  border-radius: 0;
  border: none;
  width: 100%;
}
.select input[role="searchbox"]:focus,
.select input[role="searchbox"]:focus-visible {
  outline: 2px solid var(--select-color-secondary);
  outline-offset: var(--select-inset);
}
.select__utilbar {
  display: none;
  position: relative;
  padding: var(--select-padding-s);
  font-size: 0.96em;
}
.select ul[role="listbox"] {
  list-style: none;
  overflow-y: auto;
  position: relative;
  padding: var(--select-padding-s);
  max-height: 12em;
  margin: 0;
}
.select li[role="option"] {
  max-width: 100%;
  padding: var(--select-padding-s);
  font-size: 0.96em;
  outline: none;
}
.select li[role="option"]:nth-child(even) {
  background-color: ghostwhite;
}
.select li[role="option"]:hover {
  border-radius: calc(var(--select-border-radius) / 2);
  background-color: var(--select-color-secondary);
  color: var(--select-color-light);
}
.select li[role="option"]:focus,
.select li[role="option"]:focus-visible {
  border-radius: calc(var(--select-border-radius) / 2);
  background-color: var(--select-color-secondary);
  color: var(--select-color-light);
} 
.select li[role="option"][aria-selected="true"] {
  color: var(--select-color-light);
  border-radius: calc(var(--select-border-radius) / 2);
  background-color: var(--select-color-primary);
}
.select li[role="option"][aria-selected="true"]:focus,
.select li[role="option"][aria-selected="true"]:focus-visible {
  outline: 1px solid var(--select-color-light);
  outline-offset: -2px;
}
.select [hidden] {
  display: none;
}