/**
 * sidebar.css
 * 
 * F1 Sidebar CSS - 01 Jun 2023
 * @author  C. Moller <xavier.tnc@gmail.com>
 * @version 1.0 - 01 Jun 2023
 */

.sidebar {
  display: none;
}

.sidebar.open {
  display: block;
}

.sidebar.off-screen-left {
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.sidebar.off-screen-left .sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  box-shadow:
    0px 8px 10px -5px rgba(0,0,0,0.2),
    0px 16px 24px 2px rgba(0,0,0,0.14),
    0px 6px 30px 5px rgba(0,0,0,0.12);
}

.sidebar.off-screen-left.open .sidebar-content {
  animation-name: slide-in-left;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}