/**
 * F1CSS - Modal - 05 Oct 2022
 *  
 * @author  C. Moller <xavier.tnc@gmail.com>
 * 
 * @version 1.1.1 - FIX - 06 Dec 2022
 *   - Undo overflow:hidden change.
 *
 */

.modal {
	visibility: hidden;
	position: fixed;
	overflow: auto; /* important! */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	opacity: 0;	
}

.modal.open {
	visibility: visible;
	-webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	opacity: 1;
}

.modal-inner {
	color: #222;
	position: absolute;
	background-color: whitesmoke;
	box-shadow: 3px 3px 6px 0 #0003;
	min-height: 2rem;
	left: 50%;
	padding: 20px;
	border-radius: 20px;
	width: auto;
	top: 50%;
	transform: translateX(-50%, -50%);
}

.modal-inner header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
	padding-bottom: 20px;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.modal-body {
	padding-bottom: 20px;
}

.modal-close {
	cursor: pointer;
	font-size: 0.96em;
	margin-top: 0;
}

@media only screen and (min-width: 520px) and (orientation: landscape) {
	.has-modal {
		overflow: hidden;
/*		padding-right: var(--scrollbar-width, 0);*/
	}
}
